<%= render "shared/header" %>

<div class="main">
  <div class="container">
    <div class="new-arrival">
      <div class="new-arrival-list">
        <ul class="article-list">
          <li>新着記事</li>
          <li>新着記事</li>
          <li>新着記事</li>
          <li>新着記事</li>
          <li>新着記事</li>
        </ul>
      </div>
      <div class="new-arrival-list">
        <ul class="question-list">
          <li>新着質問</li>
          <li>新着質問</li>
          <li>新着質問</li>
          <li>新着質問</li>
          <li>新着質問</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<footer>
</footer>