html {
  background-color: #eee;
}

.btn {
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

.main {
  width: 100vw;
}

.container {
  height: 100%;
  max-width: 1100px;
  margin: 100px auto;
}

.article-section {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  overflow: scroll;
}

.article-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

.box-title {
  margin-bottom: 20px;
}

.tab-name {
  font-size: 20px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.article-content {
  background-color: #fff;
  width: 500px;
  padding: 10px;
}

.list-items>.list {
  border-bottom: 1px solid #3ccace;
  padding: 15px 10px;
}

.list-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.list-main {
  margin-bottom: 10px;
}

.list-main>.link{
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.tag {
  text-decoration: none;
  color: black;
}

h2 {
  font-size: 20px;
  font-weight: bold;
}

span > br {
  display: none;
}