footer {
  background-color: #fff;
  height: 200px;
  width: 100vw;
  margin-top: 35px;
}

.bottom {
  display: flex;
  justify-content: space-evenly;
  padding: 40px;
  height: 200px;
}

.bottom-content ul li {
  margin: 12px 0;
}