* {
  box-sizing: border-box;
}

header {
  background-color: gray;
  position: fixed;
  top: 0;
  z-index: 10;
}

.container {
  height: 65px;
  width: 100vw; 
  display: flex;
  justify-content: space-around;
}

.search {
  margin: 0 20px;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-item {
  margin: 0 20px;
  font-size: 15px;
}

.nav-item:hover {
  border-bottom: 1px solid white;
}

.title-logo {
  text-decoration: none;
  color: white;
  font-size: 28px;
  white-space: nowrap;
}

.article-btn {
  text-decoration: none;
  color: white;
  white-space: nowrap;
}

.question-btn {
  text-decoration: none;
  color: white;
  white-space: nowrap;
}

.user-nickname {
  text-decoration: none;
  color: white;
  white-space: nowrap;
}

.logout {
  text-decoration: none;
  color: white;
  white-space: nowrap;
}

.login {
  text-decoration: none;
  color: white;
  white-space: nowrap;
}

.sign-up {
  text-decoration: none;
  color: white;
  white-space: nowrap;
}

.search-form {
  display: flex;
}

.search-form>.input-box {
  padding-left: 10px;
}

.search-button {
  width: 35px;
  border: 0;
  cursor: pointer;
  background-color: #3ccace;
  padding: 8px;
}

.search-icon {
  width: 100%;
}

.sp-menu {
  display: none;
}

.sp-menu #open {
  line-height: 65px;
  font-size: 50px;
  padding-right: 20px;
  cursor: pointer;
}