@media (max-width: 1024px) {
  
  .header-content {
    justify-content: space-between;
  }
  
  .nav-list-wide {
    display: none;
  }

  .sp-menu {
    display: flex;
  }

  .material-icons {
    display: block;
    margin: 0 0 0 auto;
    padding-right: 20px;
    line-height: 65px;
    font-size: 50px;
    cursor: pointer;
  }

  .pulldown-content ul {
    display: none;
    background-color: #eee;
    text-align: center;
  }

  .pulldown-content ul.active {
    display: block;
  }

  .pulldown-content {
    display: block;
    position: fixed;
    z-index: 9;
    right: 0;
  }
  
  .pulldown-menu {
    display: block;
    text-decoration: none;
    white-space: nowrap;
    color: black;
    padding: 10px 25px;
  }
  
  .pulldown-menu:hover {
    background-color: rgb(225, 221, 221);
  }
}

@media (max-width: 780px) {
  .title-logo {
    font-size: 25px;
  }

  .input-box {
    display: none;
  }

  .nav-item {
    margin-left: 10px;
  }

  .bottom {
    justify-content: space-between;
  }
}