<footer>
  <div class="bottom">
    <div class="bottom-content">
      <%= link_to "ジャンク広場", root_path, class: "title-logo" %>
    </div>
    <div class="bottom-content">
      <ul>
        <li>about</li>
        <li>利用規約</li>
        <li>問い合わせ</li>
      </ul>
    </div>
  </div>
</footer>