.container_2 {
  margin: 100px auto;
  max-width: 1600px;
  background-color: #fff;
}

.chat-section {
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.15);
}

.chat-header {
  border-bottom: 1px solid red;
}

.title {
  font-size: 30px;
  font-weight: bold;
}

.title-content {
  display: flex;
  justify-content: space-between;
}

.title-tag {
  display: flex;
}

.messages {
  margin: 30px 0 50px;
  display: block;
}

.message {
  background-color: #eee;
  margin-top: 10px;
  padding: 16px;
  display: inline-block;
}

.upper-message {
  display: flex;
}

.message-user {
  font-size: 16px;
}

.message-date {
  font-size: 12px;
  padding-left: 10px;
}

.lower-message {
  margin-top: 10px;
}

.message-content {
  font-size: 20px;
  margin-bottom: 40px;
}

.chat-footer {
  background-color: #eee;
  display: flex;
  padding: 20px;
  height: 100px;
  width: 80%;
}

.form-input {
  background-color: #fff;
  display: flex;
  width: 100%;
  margin-right: 15px;
}

.form-message {
  width: 100%;
  padding: 8px 16px;
  border: none;
}

.form-image {
  background-color: lightblue;
  border-color: rgb(129, 200, 223);
  width: 100px;
  margin: 5px 10px;
}

.form-image:hover {
  background-color: rgb(129, 200, 223);
}

.image-file {
  vertical-align: middle;
}

.hidden {
  display: none;
}

.form-btn {
  background-color: #3ccace;
  font-size: 20px;
  border: none;
  height: 100%;
}

.form-btn:hover {
  background-color: #2ea8ac;
}