.header_2 {
  padding: 10px 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid red;
}

.sign-menu {
  display: flex;
  justify-content: center;
  margin-left: 80px;
}

.sign-up-in {
  padding: 0 30px;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sign-sns {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 80%;
}

.field {
  margin-bottom: 15px;
  width: 80%;
}

.input-default {
  width: 100%;
  margin-top: 5px;
  height: 40px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

.twitter {
  background-color: #55acee;
  border-color: #2795e9;
  margin-top: 20px;
}

.twitter:hover {
  background-color: #2795e9;
}

.facebook {
  background-color: #3b5998;
  border-color: #484877;
  margin-top: 20px;
}

.facebook:hover {
  background-color: #484877;
}

.google {
  background-color: #c6594b;
  border-color: #a94335;
  margin-top: 20px;
}

.google:hover {
  background-color: #a94335;
}

.action-btn {
  width: 100%;
  background-color: orange;
  border-color: darkorange;
  margin-top: 20px;
}

.action-btn:hover {
  background-color: darkorange;
}